* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;

}

.container {
    height: 95vh;
    display: flex;
    justify-content: center;
    text-align: center; 
    padding: 20px;
}
.calculator {
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px;
    display: grid;
    grid-template-columns: repeat(4,68px);
}
input {
    grid-column: span 4;
    height: 100px;
    width: 250px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgba(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button {
    height: 50px;
    width: 50px;
    background-color: #ecf0f3;
    box-shadow: 5px 5px 5px;
    border-radius: 25%;
    margin: 8px;
    font-size: 16px;
}
button:hover {
  background-color: #dde3ea;
}

.equal {
    width: 115px;
    border-radius: 30px;
    background-color: #ecf0f3;
    box-shadow: 5px 5px 5px;

}