* {
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-family: sans-serif;
}

.gallery {
    width: 100%;
    height: 120vh;
    background-color: #BDE8F5;
    padding: 100px 0;


}

.container {
    width: 85%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

img {
    width: 100%;
    display: block;
}

.gallery-filter {
    text-align: center;
    margin-bottom: 20px;
}

.filter-item {
    color: #0F2854;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.filter-item.active {
    color: #ff9800;
    border-color: #ff9800;
}

.gallery-item {
    width: calc(100%3);
    padding: 15px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);

}


.gallery .gallery-item-inner img {
    width: 100%;

}

.gallery .gallery-item.show {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
}

.gallery .gallery-item.hide {
    display: none;
}


@media (max-width: 500px) {
    .gallery .gallery-item {
        max-width: 100%;
    }

    .gallery .gallery-filter .filter-item {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .gallery .gallery-item {
        max-width: 50%;
    }
}


