*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#030637;
}
.container{
    width: 25%;
    min-height: 85vh;
    background-color: #ab0cee;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 10px 10px 10px rgba(247, 246, 246, 0.836)
}
h3{
    font-family: sans-serif;
    font-size: 2rem;
    font-style:italic;
    color: white;
    padding: 20px;

}
img{
    height: 40vh;
    width: 70%;
    padding: 20px 20px 20px;
    border-radius: 2rem;
    box-shadow:10px 10px 20px #3C0753;
}
p{
    
    font-family: sans-serif;
    font-size: 1.5rem;
    font-style:italic;
    color: white;
    padding: 10px;
}
#artist{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-style:italic;
    color: rgb(246, 242, 242);
    padding: 10px;

}
input{
    width: 80%;
    color: #030637;
}
button {
    width: 2rem;
    height: 2rem;
    border-radius: 25%;
    margin: 20px;
    align-items: center;
    justify-content: center;
    background-color: #000957;
    color: white;
}
button:hover{
    background-color: #cba6dc;
    transition: .5s ease;
}
@media screen and (max-width:1200px){
    .container{
        width: 30%;
    }
}@media screen and (max-width:478px){
    .container{
        width: 70%;
    }
}
